@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Dancing+Script:wght@700&family=Griffy&display=swap');
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 1111111111111;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  
.preloader img {
    max-width: 150px;
}
.preloader-text{
        position: relative;
        top: 30px;
        font-size: 80px;
        font-family: 'Dancing Script',cursive!important;
        z-index: 1!important;
        opacity: 1;
}