/* ////////////  main background-color //////////////// */
#sidebar,
#sidebar .sidebar-header,
#sidebar ul li.active>a,
a[aria-expanded="true"] ,
#sidebarCollapse,
.mainBtn,
footer,
#back-top,
.owl-theme .owl-dots .owl-dot.active span
{    
    background-color: #72b626!important;
    font-family: 'Jua', sans-serif!important;
}


/* ////////////  main color //////////////// */
.welcomeText h1,
.middle-text h1,
.about-text-title,
.card-header h5 span,
.card-header h5 .fa-angle-double-down,
#sidebar ul li a:hover,
#sidebar ul li a:hover,
a[aria-expanded="true"],
.blog-data h5,
.preloader-text,
.member-data h3,
.member-data h4 span a,
.mainBtn:hover,
.form-container h2,
.fa-plus,
.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-instagram
{   
    color: #66962f!important;
    font-family: 'Jua', sans-serif!important;
}


/* ////////////  paragraph color //////////////// */
.col-right p,
.middle-text p,
.about-text-about p,
.big,
.blog-data h5:hover,
.blog-data p,
.member-data strong,
.member-data p,
.member-data h4 span a:hover,
.contact .form-row input::placeholder,
.contact .form-row textarea::placeholder,
.footer-brand
{   color: #728f52!important;  }


/* ////////////  white for hover color //////////////// */
#sidebar,
#sidebar ul li.active>a,
.member-data strong:hover,
.mainBtn,
.contact .form-row input,
.contact .form-row textarea,
.footer-brand h1,
footer p,
footer a
{   
    color: #ddfabb!important;
    font-family: 'Jua', sans-serif!important;
}


/* ////////////  border-bottom color  //////////////// */
#sidebar ul.components,
.contact .form-row input,
.contact .form-row textarea
{ 
     border-bottom: 1px solid #678b3e!important;  
     font-family: 'Jua', sans-serif!important;   
}


/* ////////////  border color //////////////// */

.mainBtn:hover
{  
    border: 1px solid #678b3e!important;
    font-family: 'Jua', sans-serif!important;
}
.element div 
{border: 6px solid rgba(177, 221, 128, 0.925);}


/* #header{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background:url(../../images/banners/banner_4.png) no-repeat  center;
    background-size: cover;
} */


